.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
.ansible/
*.retry
ansible/**/vars/secrets.yml
ansible/**/vars/pi-secrets.yml
CLAUDE.md
ssh/ansible
ssh/gitlab
ssh/truenas-hetzner
ansible/.vault_pass
ansible/inventories/production/group_vars/all/vault.yml