.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
.ansible/
*.retry
ansible/*/vars/secrets.yml
CLAUDE.md
ssh/ansible
ansible/.vault_pass
ansible/inventories/production/host_vars/
ansible/inventories/production/group_vars/all/vault.yml