[defaults]
inventory          = inventories/production/hosts.yml
private_key_file   = ../../ssh/ansible
remote_user        = ansible
host_key_checking  = false
retry_files_enabled = false
roles_path         = roles
